<div class="content-wrapper">
  <div id="section-actions">
    <div class="left">
      <h2><%= truncate @course.name, :length => 50 %></h2>
    </div>
    <div class="right">
      <%= link_to admin_courses_url, :class => 'btn gray-btn' do %>
        Regresar
      <% end %> 
      <%= link_to new_admin_course_exam_url(@course), :class => 'btn green-btn' do %>
        <i class="icon-plus"></i> Agregar
      <% end %>
    </div>  
    <div class="clear"></div>
  </div>
  <% if @exams.any? %>
    <div class="table-wrapper">
      <table class="custom-table">
        <thead>
          <tr>
            <th>Fecha</th>
            <th>Hora</th>            
            <th>Ubicaci&oacute;n</th>            
            <th>Grupo</th>            
            <th></th>        
            <th></th>
          </tr>        
        </thead>
        <tbody>
          <% @exams.each_with_index do |exam,index| %>
            <%= render_table_row(index) do %>
              <td><%= slash_format exam.date %></td>
              <td><%= time_format exam.date %></td>
              <td><%= truncate exam.location, :length => 100 %></td>
              <td><%= exam.group ? exam.group.name : "Sin asignar" %></td>
              <td class="action">
                <%= link_to edit_admin_course_exam_url(@course, exam), 'data-tooltip' => 'Editar' do %>
                  <i class="icon-pencil"></i>
                <% end %>
              </td>
              <td class="action">
                <%= link_to admin_course_exam_url(@course, exam), 'data-tooltip' => 'Eliminar', 'data-method' => 'delete' do %>
                  <i class="icon-remove"></i>
                <% end %>
              </td>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>  
    <%= paginate @exams %>  
  <% else %>
    <div class="not-found">
      No hay ex&aacute;menes
    </div>
  <% end %>
</div>
