.dialog_message_container {
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
	font-family: Helvetica, Arial, sans-serif;
}
.dialog_header {
	padding: 20px 20px 17px;
  border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	border-bottom: 1px solid #eeeeec;
}
.dialog_header h2 {
  font-size: 20px;
}
.dialog_body {
	padding: 20px 20px 17px;
}
.dialog_title {
	float: left;
}
.dialog_close {
	cursor: pointer;
	float: right;
	width: 16px;
	height: 15px;
	color: #CCCCCC;
}
.dialog_actions {
	position: absolute;
	bottom: 20px;
	right: 10px;
	text-align: right;
}
.dialog_actions a {
	margin: 0 3px;
	float: left;
}
.dialog_actions .dialog_loader{
	float: left;
	width: 31px;
	height: 31px;
	display: none;
}
.dialog_ajax_wrapper form .field.first_field .label {
	padding-top: 0;
}
.dialog_ajax_wrapper form .field_container input[type="text"], .dialog_ajax_wrapper form .field_container input[type="password"], .dialog_ajax_wrapper form .field_container textarea, .dialog_ajax_wrapper form .field_container select {
	width: 390px;
}
.dialog_loader{
	text-align: center;
}
.dialog_loader img{
	width: 20px;
	height: 20px;
	display: block;
	margin: 0 auto;
}
.dialog_overlay {
  width: 100%;
  height: 100%;
}
.dialog_row {
  margin: 10px 0;
}
.dialog_message_container .actions {
  margin-top: 2em;
}
