<% content_for :title do %>
  <h1>Bienvenido a Certificatec</h1>
<% end %>
<p>
  Estimado: <span style="color: #0085EE;"><%= @student.full_name %></span> <br />


  Te has registrado para el grupo: <span style="color: #0085EE;"><%= @group.name %></span>
  <br />
  <br />
  <br />
  Te sugerimos vayas estudiando los temas en <%= link_to 'la ayuda para GCP de Google', 'https://support.google.com/adwords/certification/?hl=es&rd=1' %> referidos a tu curso seleccionado para venir preparado al curso. También te pedimos que sigas la página <%= link_to 'Aprende con Google', 'https://plus.google.com/u/0/+GoogleParaTuNegocio' %> donde tienes toda la información de cursos y educación en la región. Y si eres de los que son ambiciosos y proactivos, siempre puedes aprender más en <%= link_to 'Agency Edge', 'https://www.google.com/partners' %> donde tienes casos de éxito, monografías, estudios, cursos, webinars y muchas otras cosas. 
  <br />
  <br />
  Estimado usuario, el haberte registrado en este sitio no implica tu aceptación al curso, está solo será efectiva en el momento que tramites tu pago a través del sitio oficial del <%= link_to 'Tecnológico de Monterrey', 'http://csa.itesm.mx:8080/FichaDePagoCol/index.jsp' %> sigue los pasos siguientes: Pago de Servicio>Nombre>Generar>Campus Santa Fe>Certificación>Certificación Google Adwords. &iexcl;Gracias!
  <br />
  <br />
  Despu&eacute;s de concretar el pago, por favor responde a este correo con tu comprobante de pago, ya sea con una impresi&oacute;n de pantalla o una copia escaneada del comprobante. La fecha l&iacute;mite para realizar tu pago es el <%= text_format(@group.start_date) %>
  <br />
  <br />  
  &iexcl;Un saludo y nos vemos pronto! 
  <br />
  <br />
  <br />
  Atentamente
  Equipo de certificadores del Tecnológico de Monterrey Campus Santa Fe.
</p>
