<% content_for :head do %>
  <%= javascript_include_tag 'admin/shared/section_form' %>
  <%= javascript_include_tag 'admin/course_dates/form' %>
<% end %>
<div class="content-wrapper">
  <div id="section-actions">
    <div class="left">
      <h2><%= @course_date.new_record? ? 'Agregar Registro' : 'Editar Registro' %></h2>
    </div>
    <div class="right">
      <%= link_to admin_course_course_dates_url(@course), :class => 'btn gray-btn' do %>
          Cancelar
      <% end %>
    </div>  
    <div class="clear"></div>
  </div>
  <div class="form-wrapper section-form-wrapper">
    <%= form_for [:admin, @course, @course_date], :html => {:id => 'section-form',:class => 'custom-form section-form'} do |f| %>
      <div class="field">
        <%= f.label :date, 'Fecha' %>
        <%= f.text_field :date, :value => (@course_date.new_record? ? '' : slash_format(@course_date.date) ) %>
      </div>
      <div class="field">
        <%= f.label :group_id, 'Grupo' %>
        <%= f.select :group_id, group_options(@groups), {:prompt => 'Seleccione'}, {:class => 'wide'} %>
      </div>
      <div class="actions">
        <%= f.submit 'Continuar', :class => 'btn green-btn' %>
      </div>
    <% end %>    
  </div>
</div>
