<div class="content-wrapper">
  <div id="section-actions">
    <div class="left">
      <h2><%= @course.name %> | <%= slash_format @course_date.date %></h2>
    </div>
    <div class="right">
      <%= link_to admin_course_course_dates_url(@course), :class => 'btn gray-btn' do %>
        Regresar
      <% end %>
    </div>
    <div class="clear"></div>
  </div>
  
  <% if @course_date.enrollments.any? %>
    <div class="table-wrapper">
      <table class="custom-table">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Email</th>            
            <th>Telefono</th>
            <th>Compa&ntilde;&iacute;a</th>
          </tr>        
        </thead>
        <tbody>
          <% @course_date.enrollments.includes(:student).each_with_index do |enrollment,index| %>
            <%= render_table_row(index) do %>
              <td><%= truncate student.full_name, :length => 50 %></td>
              <td><%= student.email %></td>
              <td><%= student.phone %></td>
              <td>
                <%= content_tag :span, truncate(student.company, :length => 50), :title => student.company %>
              </td>              
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>    
  <% else %>
    <div class="not-found">
      No hay inscripciones para esta fecha
    </div>
  <% end %>
  
  
  
  
</div>
