#user-info {
  margin-top: 10px;
}

#user-info span {
  display: block;
  text-align: right;
}

#section-actions {
  margin: 20px 0;
}


.section-form-wrapper {
  width: 520px;
  margin: 0 auto;
}

.section-form textarea,
.section-form input[type="password"],
.section-form input[type="text"] {
  width: 500px;
}


/* Tables */
table.custom-table {
  width: 100%;
  border-collapse: collapse;  
  font-family: Helvetica, Arial, sans-serif;
}

table.custom-table th {  
  background-color: #FBFBFB;
  color: #444444;
  font-weight: bold;
}

table.custom-table th,
table.custom-table td {
  padding: 10px 5px;
  border: 1px solid #eeeeec;
}

table.custom-table tr.alt {
  background-color: #fefefe;
}

table.custom-table .action {
  text-align: center;
}

table.custom-table .action a {
  text-decoration: none;
  color: #007AD2;
}

/* Pagination */

.pagination {
  margin: 10px 0;
  text-align: right;
}

.pagination .current {
  width: 1.4em;
  height: 1.4em;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -o-border-radius: 1em;  
  display: inline-block;
  line-height: 1.5;
  text-align: center;  
  background-color: #F7F7F7;
  color: #444444;
}

.pagination .disabled {
  color: #d3d7cf;
}

.pagination a {
  text-decoration: none;
  color: #0085EE;
}

