body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.9em;
  background-color: #F7F7F7;
  color: #4d4d4d;
}

#google_play {
  margin-top: 10px;
  width: 230px;
  height: 81px;
}

#logo {
  width: 196px;
  height: 71px;
  background: url('../images/ui/tec-logo.png');
  margin: 10px auto;
}

.box_container {
  background-color: #FFFFFF;
  box-shadow: 0 0 5px #CCCCCC;
  -moz-box-shadow: 0 0 5px #CCCCCC;
  -webkit-box-shadow: 0 0 5px #CCCCCC;  
  padding: 2px 0;
}

#login_form_wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 230px;
  margin-left: -115px;
  margin-top: -102px;  
}

form#login_form {
  width: 200px;
  margin: 0 auto;
  margin-bottom: 15px;
}

form#login_form .field {
  margin: 10px 0;
}

form#login_form .field input[type="password"],
form#login_form .field input[type="text"] {
  width: 95%;
  padding: 5px 3px;
  border: 0;
  border-bottom: 1px solid #CCCCCC;
}

form#login_form .field input[type="password"]:focus,
form#login_form .field input[type="text"]:focus {
  outline: none;
  border: 0;
  border-bottom: 1px solid #00aad4;
}

/* Buttons */

.btn {  
  display: inline-block;
  padding: 4px 12px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);  
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
  border: 1px solid #BBB;
  text-decoration: none;
}

.btn .icon {
  margin-right: 5px;
}

.blue_btn {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #49AFCD;
  background-image: -moz-linear-gradient(top, #5BC0DE, #2F96B4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5BC0DE), to(#2F96B4));
  background-image: -webkit-linear-gradient(top, #5BC0DE, #2F96B4);
  background-image: -o-linear-gradient(top, #5BC0DE, #2F96B4);
  background-image: linear-gradient(to bottom, #5BC0DE, #2F96B4);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
  border-color: #2F96B4 #2F96B4 #1F6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.btn_small {
  font-size: 0.9em;
  padding: 3px 10px;
}

.full_width {
  width: 100%;
}
