<div id="section-header">
  <div class="content-wrapper">
    <div id="legend" class="left">      
      <h2>Ubicaci&oacute;n</h2>
    </div>  
    <div class="clear"></div>
  </div>  
</div>
<div id="google-map">
  <iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Tecnologico+de+Monterrey+Campus+Santa+Fe,+Avenida+Carlos+Lazo+100,+Santa+Fe,+%C3%81lvaro+Obreg%C3%B3n,+Ciudad+de+M%C3%A9xico,+D.F.,+Mexico&amp;aq=0&amp;oq=tecno&amp;sll=37.0625,-95.677068&amp;sspn=56.899383,94.042969&amp;ie=UTF8&amp;hq=tecnologico+de+monterrey+campus+santa+fe&amp;hnear=Tecnologico+de+Monterrey+Campus+Santa+Fe,+Av+Carlos+Lazo+100,+Santa+Fe,+%C3%81lvaro+Obreg%C3%B3n,+01389+Ciudad+de+M%C3%A9xico,+D.F.,+Mexico&amp;t=m&amp;cid=6805624684828114059&amp;ll=19.373341,-99.246883&amp;spn=0.02834,0.077248&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
</div>
<div id="main">
  <div class="content-wrapper">
    <div class="content-section">
      <h2>Informaci&oacute;n de contacto</h2>
      <p>
        Av. Carlos Lazo No. 100, Col. Santa Fe, Delegación Álvaro Obregón, México D.F., C.P. 01389 | 9177 8000 <br />
        Instituto Tecnológico y de Estudios Superiores de Monterrey. <br />
        Dr. Javier Cuevas Ordaz <br />
        E-mail: <%= link_to 'fcuevas@itesm.mx', 'mailto:fcuevas@itesm.mx', :class => 'inline-link' %> <br />
        (+52) 55 91778104
      </p>
    </div>
    <div class="content-section">
      <h2>Mapa Campus Santa Fe</h2>
      <div class="left column-1-2">
        <p>          
          Una vez que hayas ingresado al Campus por la puerta principal, deberás estacionarte donde te indique el personal de seguridad, y los anfitriones te darán indicaciones para llegar al Aula 1 Nivel 1, donde se encuentra el Auditorio.
        </p>
      </div>
      <div class="left column-1-2 align-center">
        <%= image_tag 'ui/mapa-csf.jpg', :class => 'campus-image' %>
      </div> 
      <div class="clear"></div>
    </div>
    
    
    
  </div>
  
</div>
