<div id="carrousel">
  <div class="content-wrapper">
    <div id="legend" class="left">      
      <h2>&iexcl;Domina AdWords!</h2>
      <p>
        Aprende a utilizar las herramientas que Google ofrece
        y administra campa&ntilde;as publicitarias como un profesional
      </p>
      <%= link_to 'Inscr&iacute;bete'.html_safe, agenda_url, :id => 'signup', :class => 'green-btn btn' %>
    </div>  
    <div class="right">
      <%= image_tag 'ui/splash.png' %>
    </div>
    <div class="clear"></div>
  </div>  
</div>
<div id="main">
  <div class="content-wrapper">
    <div>
      <div class="left column-1-2">
        <div id="upcoming-courses">
          <h2>Pr&oacute;ximos Cursos</h2>
          <% if @upcoming_dates.any? %>
            <% @upcoming_dates.each do |course_date| %>
              <div class="course">
                <div class="date left">
                  <span class="day"><%= course_date.date.day %></span>
                  <span class="month"><%= short_month course_date.date %></span>
                </div>
                <div class="description left">
                  <p>
                    <%= link_to courses_url(:anchor => "course-#{course_date.course.id}"), :class => 'title' do %>
                      <%= truncate course_date.course.name, :length => 40 %>
                    <% end %><br />
                    <%= link_to courses_url(:anchor => "course-#{course_date.course.id}") do %>
                      <%= truncate course_date.course.description, :length => 90 %>
                    <% end %>
                  </p>          
                </div>
                <div class="clear"></div>
              </div>
            <% end %>
            <%= link_to 'Ver m&aacute;s'.html_safe, agenda_url, :class => 'inline-link see-more' %> 
          <% else %>
            <div class="not-found">No hay pr&oacute;ximas fechas</div>
          <% end %>
        </div>      
      </div>
      <div class="left column-1-2">
        <h2>Pr&oacute;ximo Examen</h2>
        <% if @upcoming_exam %>
          <div id="upcoming-exam">
            <div class="date-field left">
              <span class="number">
                <%= @upcoming_exam.date.day %>
              </span><br />
              <%= long_month @upcoming_exam.date %>
            </div>
            <div class="date-field left"><span class="number"><%= hour_of_day @upcoming_exam.date %></span></div>
            <div class="date-field left"><span class="number">:</span></div>
            <div class="date-field left"><span class="number"><%= @upcoming_exam.date.strftime("%M") %></span><br /><%= @upcoming_exam.date.strftime("%p") %></div>
            <div class="clear"></div>
          </div>
          <div class="details">
            <div class="detail">
              <div class="detail-label left">Curso:</div>
              <div class="detail-value left"><%= truncate @upcoming_exam.course.name, :length => 45 %></div>
              <div class="clear"></div>
            </div>
            
            <div class="detail">
              <div class="detail-label left">Ubicaci&oacute;n:</div>
              <div class="detail-value left"><%= @upcoming_exam.location %></div>
              <div class="clear"></div>
            </div>           
          </div>
        <% else %>
          <div class="not-found">No hay pr&oacute;ximas fechas</div>
        <% end %>

        
      </div>
      <div class="clear"></div>
    </div> 
  </div>  
</div>
