<% content_for :head do %>
  <%= stylesheet_link_tag 'login' %>
<% end %>

<div id="login_form_wrapper">
  <div class="box_container">
    <div id="logo"></div>
    <%= form_for :login, :url => splash_authenticate_url, :html => {:id => 'login_form'} do |f| %>
      <div class="field">
        <%= f.text_field :email, :placeholder => 'Usuario' %>  
      </div>
      <div class="field">
        <%= f.password_field :password, :placeholder => 'Password' %>      
      </div>
      <div class="actions">
        <%= f.submit 'Login', :class => 'blue_btn btn full_width' %>
      </div>
    <% end %>
  </div>  
</div>
