<div id="section-header">
  <div class="content-wrapper">
    <div id="legend" class="left">      
      <h2>Fechas de los cursos</h2>
    </div>  
    <div class="clear"></div>
  </div>  
</div>
<div id="main">
  <div class="content-wrapper">    
    <% if @groups.any? %>
      <p class="align-center big">
        Los cursos se imparten de 18:00 a 22:00
      </p>
    
      <div class="table-wrapper">
        <table id="agenda" class="custom-table striped">
          <thead>
            <tr>
              <th></th>
              <th>Cursos incluidos</th>
              <th>Ex&aacute;menes incluidos</th>
              <th>Costo</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @groups.each do |group| %>
              <tr>
                <td class="align-center align-middle"><%= group.name %></td>
                <td>
                  <% group.course_dates.each do |course_date| %>
                    <span><%= "#{course_date.course.name} (#{slash_format(course_date.date)})" %></span>
                  <% end %>
                </td>
                <td>
                  <% group.exams.each do |exam| %>
                    <span><%= "#{exam.course.name} (#{slash_format(exam.date)})" %></span>
                  <% end %>
                </td>
                <td class="align-center align-middle">
                  <%= number_to_currency group.price %>
                </td>
                <td class="align-center align-middle">
                  <%= link_to 'Inscribirse', enroll_url(group), :class => 'btn green-btn' %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      
      
      
    <% else %>
      <div class="not-found">
        Lo sentimos, no hay grupos disponibles
      </div>
    <% end %>
  </div>  
</div>
