<% content_for :head do %>
  <%= javascript_include_tag 'lib/jquery-1.9.1.min' %>
  <%= javascript_include_tag 'plugins/fmx_form' %>
  <%= javascript_include_tag 'students/form' %>
  
  <%= stylesheet_link_tag 'plugins/fmx_form' %>
  <script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 989560471;
    var google_conversion_language = "en";
    var google_conversion_format = "3";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "2reWCJHIlwcQl_3t1wM";
    var google_conversion_value = 5900;
    /* ]]> */
  </script>
  <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
<% end %>
<noscript>
  <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/989560471/?value=5900&amp;label=2reWCJHIlwcQl_3t1wM&amp;guid=ON&amp;script=0"/>
  </div>
</noscript>
<div id="section-header">
  <div class="content-wrapper">
    <div id="legend" class="left">      
      <h2>Inscripci&oacute;n</h2>
    </div>  
    <div class="clear"></div>
  </div>  
</div>
<div id="loading">Cargando...</div>
<div id="main">  
  <div class="content-wrapper">   
    <div id="form-wrapper">
      <div class="column-1-2 left">
        <h2>Datos del participante</h2>
        <p>
          Para completar tu inscripci&oacute;n llena el siguiente formulario
        </p>
      </div>
      <div class="column-1-2 left">
      
        <div class="form-wrapper">
          <%= form_for @student, :html => {:class => 'enroll-form custom-form', :id => 'enroll-form'} do |f| %>
            <div class="field">
              <%= f.label :name, 'Nombre*' %>
              <%= f.text_field :name %>
              <%= hidden_field_tag :group_id, @group.id %>
            </div>
            <div class="field">
              <%= f.label :surname, 'Apellidos*' %>
              <%= f.text_field :surname %>
            </div>
            <div class="field">
              <%= f.label :email, 'Email*' %>
              <%= f.text_field :email %>
            </div>
            <div class="field">
              <%= f.label :company, 'Compa&ntilde;&iacute;a*'.html_safe %>
              <%= f.text_field :company %>
            </div>
            <div class="field">
              <%= f.label :phone, 'Tel&eacute;fono'.html_safe %>
              <%= f.text_field :phone %>
            </div>
            <div class="actions">
              <%= f.submit 'Continuar', :class => 'btn green-btn' %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="clear"></div>
    </div> 
    <div id="thank-you" class="invisible">
      <h2 class="align-center">&iexcl;Gracias por registrarte!</h2>
      <p>
        Tu aceptación al curso, solo será efectiva en el momento que tramites tu pago. Te hemos enviado un correo electr&oacute;nico con los detalles.
      </p>
      <br />
      <br />
      <p>
        &iexcl;Nos vemos pronto!
      </p>      
    </div>
  </div>  
</div>
