<% content_for :head do %>
  <%= javascript_include_tag 'lib/jquery-1.9.1.min' %>
  <%= javascript_include_tag 'courses/index' %>
<% end %>
<div id="section-header">
  <div class="content-wrapper">
    <div id="legend" class="left">      
      <h2>Acerca de los cursos</h2>
    </div>  
    <div class="clear"></div>
  </div>  
</div>
<div id="main">
  <div class="content-wrapper">
    <% @courses.each do |course| %>
      <%= content_tag :div, :class => 'course-details', 'data-course' => "course-#{course.id}" do %>      
        <div class="left column-1-2">
          <h2><%= course.name %></h2>      
          <%= simple_format course.description %>
          <p class="align-right">
            <%= link_to 'Inscripciones', agenda_url,:class => 'btn green-btn' %>
          </p>
        </div>
        <div class="left column-1-2"></div>
        <div class="clear"></div>
      <% end %>
    <% end %>
  </div>  
</div>
