<% content_for :head do %>
  <%= javascript_include_tag 'admin/shared/section_form' %>
  <%= javascript_include_tag 'admin/groups/form' %>
<% end %>
<div class="content-wrapper">
  <div id="section-actions">
    <div class="left">
      <h2><%= @group.new_record? ? 'Agregar Registro' : 'Editar Registro' %></h2>
    </div>
    <div class="right">
      <%= link_to admin_groups_url, :class => 'btn gray-btn' do %>
          Cancelar
      <% end %>
    </div>  
    <div class="clear"></div>
  </div>
  <div class="form-wrapper section-form-wrapper">
    <%= form_for [:admin, @group], :html => {:id => 'section-form',:class => 'custom-form section-form'} do |f| %>
      <div class="field">
        <%= f.label :name, 'Nombre' %>
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :start_date, 'Fecha de Inicio' %>
        <%= f.text_field :start_date, :value => (@group.new_record? ? '' : slash_format(@group.start_date) ) %>
      </div>
      <div class="field">
        <%= f.label :price, 'Costo' %>
        <%= f.text_field :price %>
      </div>
      <div class="actions">
        <%= f.submit 'Continuar', :class => 'btn green-btn' %>
      </div>
    <% end %>    
  </div>
</div>
