<div class="content-wrapper">
  <div id="section-actions">
    <div class="right">
      <%= link_to new_admin_group_url, :class => 'btn green-btn' do %>
        <i class="icon-plus"></i> Agregar
      <% end %>
    </div>  
    <div class="clear"></div>
  </div>
  <% if @groups.any? %>
    <div class="table-wrapper">
      <table class="custom-table">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Fecha de Inicio</th>
            <th>Fechas</th>
            <th>Examenes</th>
            <th>Inscripciones</th>
            <th></th>
            <th></th>        
            <th></th>
          </tr>        
        </thead>
        <tbody>
          <% @groups.each_with_index do |group,index| %>
            <%= render_table_row(index) do %>
              <td><%= truncate group.name, :length => 50 %></td>
              <td><%= number_to_currency group.price %></td>
              <td><%= slash_format(group.start_date) %></td>
              <td><%= group.course_dates.length %></td>
              <td><%= group.exams.length %></td>
              <td><%= group.enrollments.length %></td>
              <td class="action">
                <%= link_to admin_group_url(group), 'data-tooltip' => 'Inscripciones' do %>
                  <i class="icon-reorder"></i>
                <% end %>
              </td>
              <td class="action">
                <%= link_to edit_admin_group_url(group), 'data-tooltip' => 'Editar' do %>
                  <i class="icon-pencil"></i>
                <% end %>
              </td>
              <td class="action">
                <%= link_to admin_group_url(group), 'data-tooltip' => 'Eliminar', 'data-method' => 'delete', 'data-confirm' => "Se eliminar&aacute; el grupo y sus inscripciones" do %>
                  <i class="icon-remove"></i>
                <% end %>
              </td>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>    
    <%= paginate @groups %>
  <% else %>
    <div class="not-found">
      No hay grupos
    </div>
  <% end %>
</div>
