<div class="content-wrapper">
  <div id="section-actions">
    <div class="right">
      <%= link_to admin_group_url(@group, :format => 'csv'), :class => 'btn green-btn', :target => '_blank' do %>
        Descargar
      <% end %>
      <%= link_to admin_groups_url, :class => 'btn gray-btn' do %>
        Regresar
      <% end %>
    </div>  
    <div class="clear"></div>
  </div>
  <% if @group.students.any? %>
    
    <div class="table-wrapper">
      <table class="custom-table">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Email</th>
            <th>Compa&ntilde;&iacute;a</th>
            <th>Tel&eacute;fono</th>
          </tr>        
        </thead>
        <tbody>
          <% @group.students.each_with_index do |student,index| %>
            <%= render_table_row(index) do %>
              <td><%= truncate student.name, :length => 50 %></td>
              <td><%= truncate student.surname, :length => 50 %></td>
              <td><%= student.email %></td>
              <td><%= student.company %></td>
              <td><%= student.phone %></td>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>       
  <% else %>
    <div class="not-found">
      No hay alumnos inscritos
    </div>
  <% end %>
</div>
