<% content_for :head do %>
  <%= javascript_include_tag 'admin/shared/section_form' %>
<% end %>
<div class="content-wrapper">
  <div id="section-actions">
    <div class="left">
      <h2><%= @user.new_record? ? 'Agregar Registro' : 'Editar Registro' %></h2>
    </div>
    <div class="right">
      <%= link_to admin_users_url, :class => 'btn gray-btn' do %>
          Cancelar
      <% end %>
    </div>  
    <div class="clear"></div>
  </div>
  <div class="form-wrapper section-form-wrapper">
    <%= form_for [:admin, @user], :html => {:id => 'section-form',:class => 'custom-form section-form'} do |f| %>
      <div class="field">
        <%= f.label :name, 'Nombre' %>
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :surname, 'Apellidos' %>
        <%= f.text_field :surname %>
      </div>
      <div class="field">
        <%= f.label :email, 'Email' %>
        <%= f.text_field :email %>
      </div>
      <div class="field">
        <%= f.label :password, 'Contrase&ntilde;a'.html_safe %>
        <%= f.password_field :password, :placeholder => (@user.new_record? ? '' : '(sin modificar)') %>
      </div>
      <div class="field">
        <%= f.label :password_confirmation, 'Confirma contrase&ntilde;a'.html_safe %>
        <%= f.password_field :password_confirmation, :placeholder => (@user.new_record? ? '' : '(sin modificar)') %>
      </div>
      <div class="actions">
        <%= f.submit 'Continuar', :class => 'btn green-btn' %>
      </div>
    <% end %>    
  </div>
</div>
