<div class="content-wrapper">
  <div id="section-actions">
    <div class="right">
      <%= link_to new_admin_user_url, :class => 'btn green-btn' do %>
        <i class="icon-plus"></i> Agregar
      <% end %>
    </div>  
    <div class="clear"></div>
  </div>
  <% if @users.any? %>
    <div class="table-wrapper">
      <table class="custom-table">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Email</th>            
            <th></th>        
            <th></th>
          </tr>        
        </thead>
        <tbody>
          <% @users.each_with_index do |user,index| %>
            <%= render_table_row(index) do %>
              <td><%= truncate user.full_name, :length => 50 %></td>
              <td><%= user.email %></td>
              <td class="action">
                <%= link_to edit_admin_user_url(user), 'data-tooltip' => 'Editar' do %>
                  <i class="icon-pencil"></i>
                <% end %>
              </td>
              <td class="action">
                <%= link_to admin_user_url(user), 'data-tooltip' => 'Eliminar', 'data-method' => 'delete' do %>
                  <i class="icon-remove"></i>
                <% end %>
              </td>
            <% end %>
          <% end %>
        </tbody>
      </table>
      <%= paginate @users %>
    </div>    
  <% else %>
    <div class="not-found">
      No hay otros usuarios
    </div>
  <% end %>
</div>
