<div class="content-wrapper">
  <div id="section-actions">
    <div class="right">
      <%= link_to new_admin_course_url, :class => 'btn green-btn' do %>
        <i class="icon-plus"></i> Agregar
      <% end %>
    </div>  
    <div class="clear"></div>
  </div>
  <% if @courses.any? %>
    <div class="table-wrapper">
      <table class="custom-table">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Descripci&oacute;n</th>
            <th>Fechas disponibles</th>
            <th></th>
            <th></th>
            <th></th>        
            <th></th>
          </tr>        
        </thead>
        <tbody>
          <% @courses.each_with_index do |course,index| %>
            <%= render_table_row(index) do %>
              <td><%= truncate course.name, :length => 50 %></td>
              <td><%= truncate course.description, :length => 50 %></td>
              <td><%= course.available_dates.length %></td>
              <td class="action">
                <%= link_to admin_course_exams_url(course), 'data-tooltip' => 'Ex&aacute;menes'.html_safe do %>
                  <i class="icon-file-alt"></i>
                <% end %>
              </td>
              <td class="action">
                <%= link_to admin_course_course_dates_url(course), 'data-tooltip' => 'Fechas' do %>
                  <i class="icon-calendar"></i>
                <% end %>
              </td>
              <td class="action">
                <%= link_to edit_admin_course_url(course), 'data-tooltip' => 'Editar' do %>
                  <i class="icon-pencil"></i>
                <% end %>
              </td>
              <td class="action">
                <%= link_to admin_course_url(course), 'data-tooltip' => 'Eliminar', 'data-method' => 'delete', 'data-confirm' => 'Se eliminara el curso, sus fechas y ex&aacute;menes' do %>
                  <i class="icon-remove"></i>
                <% end %>
              </td>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>    
    <%= paginate @courses %>
  <% else %>
    <div class="not-found">
      No hay cursos
    </div>
  <% end %>
</div>
