<!DOCTYPE html>
<html>
  <head>
    <title>Certificatec | Admin</title>
    
    <%= javascript_include_tag 'lib/jquery-1.9.1.min' %>
    <%= javascript_include_tag 'lib/jquery-ui-1.10.3.custom.min' %>
    <%= javascript_include_tag 'lib/jquery.tipsy' %>
    <%= javascript_include_tag 'plugins/fmx_form' %>
    <%= javascript_include_tag 'plugins/fmx_dialog' %>
    <%= javascript_include_tag 'admin' %>
    
    <%= stylesheet_link_tag 'reset' %>
    <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Open+Sans:400,300' %>
    <%= stylesheet_link_tag 'font-awesome.min' %>
    <%= stylesheet_link_tag 'lib/tipsy' %>
    <%= stylesheet_link_tag 'lib/jquery-ui-1.10.3.custom.min' %>
    <%= stylesheet_link_tag 'plugins/fmx_form' %>
    <%= stylesheet_link_tag 'plugins/fmx_dialog' %>
    <%= stylesheet_link_tag 'certificatec' %>
    <%= stylesheet_link_tag 'admin' %>
    <%= csrf_meta_tag %>
    <script type="text/javascript">
      (function(){
        $(function(){
          certificatec.init();
        });
      })(jQuery);
    </script>
    <%= yield :head %>
    
  </head>
  <body>
    <div id="header">
      <div class="content-wrapper">
        <div id="tec-logo" class="left"></div>          
        <div id="certification-center" class="left">
          <h1>| Administraci&oacute;n</h1>
        </div>  
        <div id="user-info" class="right">
          <span><%= @current_user.full_name %></span>
          <span><%= link_to 'Salir', logout_url, :class => 'inline-link' %></span>
        </div>      
        <div class="clear"></div>
      </div>  
    </div>
    <div id="navbar">
      <div class="content-wrapper">
        <%= nav_link 'Cursos', admin_courses_url %>
        <%= nav_link 'Grupos', admin_groups_url %>
        <%= nav_link 'Administradores', admin_users_url %>
      </div>  
    </div>
    <%= yield %>    
  </body>
</html>
