<!DOCTYPE html>
<html>
  <head>
    <title>Certificatec</title>
    <%= stylesheet_link_tag 'reset' %>
    <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Open+Sans:400,300' %>
    <%= stylesheet_link_tag 'certificatec' %>
    <%= csrf_meta_tag %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= yield :head %>
  </head>
  <body>
    <% if flash[:notice] %> 
      <div id="flash"><%= flash[:notice].html_safe %></div>
    <% end %>
    <div id="header">
      <div class="content-wrapper">
        <div id="tec-logo" class="left"></div>          
        <div id="certification-center" class="left">
          <h1>Centro de certificaci&oacute;n</h1>
        </div>
        <div id="contact-info" class="right">
          Instituto Tecnológico y de Estudios Superiores de Monterrey<br />
          Dr. Javier Cuevas Ordaz<br />
          E-mail: <a href="mailto:fcuevas@itesm.mx" class="inline-link">fcuevas@itesm.mx</a> <br />
          (+52) 55 91778104 
        </div>
        <div class="clear"></div>
      </div>  
    </div>
    <div id="navbar">
      <div class="content-wrapper">
        <%= nav_link 'Inicio', root_url %>
        <%= nav_link 'Acerca de los cursos', courses_url %>
        <%= nav_link 'Fechas de los cursos', agenda_url %>
        <%= nav_link 'Ubicaci&oacute;n'.html_safe, contact_url %>
      </div>  
    </div>
    <%= yield %>
    <div id="footer">
      <div class="content-wrapper">
        <div id="footer-navigation" class="left">
          <h3>Navegaci&oacute;n</h3>
          <%= link_to 'Inicio', root_url %> <br />          
          <%= link_to 'Acerca de los cursos', courses_url %> <br />
          <%= link_to 'Fechas de los cursos', agenda_url %> <br />
          <%= link_to 'Ubicaci&oacute;n'.html_safe, contact_url %>
        </div>
        <div id="google-logo" class="right"></div>
        <div class="clear"></div>
      </div>
    </div>
    <div id="privacy">
      <div class="content-wrapper">
        <%= link_to 'Google', '#', :class => 'inline-link' %>
        <%= link_to 'Aviso de Privacidad', '#', :class => 'inline-link' %>
      </div>  
    </div>
  </body>
</html>
