<!DOCTYPE html>
<html>
  <head>
    <title>Certificatec</title>
    <%= stylesheet_link_tag 'reset' %>
    <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Open+Sans:400,300' %>
    <%= stylesheet_link_tag 'certificatec' %>
    <%= csrf_meta_tag %>
    <%= yield :head %>
  </head>
  <body>
    <% if flash[:notice] %> 
      <div id="flash"><%= flash[:notice].html_safe %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
