<!DOCTYPE html>
<html>
    <head>
        <title>Certificatec</title>
    </head>
    <body>
    	<table align="center" border="0" cellpadding="0" cellspacing="0" width="600">
    		<!-- START HEADER -->
    		<tr style="padding: 10px 20px 10px 20px; background: #fafafa; height: 80px;">    		  
    		  <td>
    		    <%= image_tag attachments['logo.png'].url %>
    		  </td>
    			<td style="margin: 0 0 0 10px;">
            <%= yield :title %>  
    			</td>
    		</tr>
    		<!-- END HEADER -->
    		<!-- START CONTENT -->
    		<tr>
    			<td colspan="2" style="background: #FFFFFF; padding: 20px 20px 20px 20px; font-family: Arial,Helvetica,sans-serif; font-size: 1em; text-align:left;">
    				<%= yield %>
    			</td>
    		</tr>    		
    		<tr>
    			<!-- START DISCLAIMER -->
  				<td colspan="2" style="background: #F9F9F9; font-family: Arial,Helvetica,sans-serif; font-size: 0.7em; text-align: justify; color: #444444; padding: 20px 20px 30px 20px;">
            <p>
              Este mensaje contiene informacion confidencial y se entiende dirigido y para uso exclusivo del destinatario. Si recibes este mensaje y no eres el destinatario por favor eliminalo, ya que difundir, revelar, copiar o tomar cualquier accion basada en el contenido esta estrictamente prohibido.            
            </p>                    
          </td>
          <!-- END DISCLAIMER -->
    		</tr>
    		<!-- END CONTENT -->    		
    	</table>
    </body>
</html>
